body {
  font-size: 14px;
  background-color: #f1f3f6;
  line-height: 1.4;
}

main {
  min-height: 100vh;
}

/* product card style */
.prod-thumb {
  color: #575757;
}

.prod-thumb:hover {
  text-decoration: none;
}

.prod-name,
.prod-desc {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card {
  box-shadow: 1px 3px 5px rgb(0 0 0 / 10%);
}

.card:hover {
  box-shadow: 0 1px 4px rgb(0 0 0 / 40%);
}

/* custom button style */
.btn-safran,
.badge-safran {
  background: #fb641b;
  color: #fff;
}

.toaster-success {
  position: fixed;
  top: 100px;
  right: 20px;
  z-index: 1;
  background: #008000;
  color: #fff;
}

.dropdown-toggle::after {
  margin-left: 6px;
}

.dropdown-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.cart-badge {
  position: relative;
  left: -3px;
  bottom: 12px;
  text-align: center;
  border-radius: 5px;
  padding: 3px 5px;
  font-family: 'Roboto';
}

.jumbotron {
  background-color: #f4f7f6;
}
