body {
  font-size: 14px;
  background-color: #f1f3f6;
  color: #212121;
  line-height: 1.4;
}

main {
  min-height: 92vh;
  padding-top: 100px;
}

.prod-thumb {
  color: #575757;
}

.prod-thumb:hover {
  text-decoration: none;
}

.prod-name,
.prod-desc {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ratings i {
  color: #ffc000;
}
